*{
  margin: 0;
  padding: 0;
  background-color: azure;
}

.continar{
  margin: 0 auto;
  max-width: 400px;
  padding: 100px;
  text-align: center;
  /* background-color: antiquewhite; */
  color: rgb(32, 32, 32);
}
h1{
  font-size: 35px;
  margin: 10px;
background-color: rgb(241, 241, 117);
color: rgb(56, 74, 90);
}

h3{
  font-size: 26px;
  margin: 10px;
background-color: rgb(241, 241, 117);
color: rgb(56, 74, 90);
}
button{
  font-size: 3rem;
  margin: 20px;
  background-color: aquamarine;
  cursor: pointer;
  transition: background-color .4s ease;
}

button:hover{
  background-color: rgb(112, 112, 231);
}
p{
  font-size: 22px;
  margin: 20px;
  background-color: rgb(241, 236, 164);
  font-weight: bold;
}