body{
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom,lightblue,lightgreen);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
}

.container{

  background-color: aliceblue;
padding: 20px;
border-radius: 6px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
width: 90%;  
margin: 10px ;
display: flex;
flex-direction: column;
text-align:center;
justify-content: center;
align-items: center;


}
h2{
  font-weight: 400;

}
.input{
  padding: 20px 10px;
  font-size: 20px;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  width: 100px;
 
 
}

.error{
  color: red;
  font-weight: 600;
  margin: 10px;
  display: none;
}


.btn{
  text-transform: uppercase;
  width: 250px;
  height: 45px;
  margin: 20px 0;
  font-size: 20px;
  border-radius: 6px;
  background-color: black;
  color: aliceblue;

}
.btn:hover{
  color: aliceblue;
  background-color: green;
  transition: background-color .4s ease-in-out;
  cursor: pointer;
}

.photos img{
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  margin: 6px;

}
.photos{
  display: none;
}