*{
  margin: 0;
  padding: 0;
  
}
body{
  background-color:#a6c1ee;
  display: flex;
min-width: 100vh;
justify-content: center;
align-items: center;
}
.container{
  margin-top: 120px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
  padding: 20px ;
  background-color: rgb(129, 154, 180);
  text-align: center;
  border-radius: 20px;
  width: 60%;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
h1{
 margin-bottom: 30px;
 color: rgb(255, 3, 3);
 font-size: 2.5rem;
 text-shadow: 5px 5px 2px rgba(235, 215, 215, 0.8);
}
p{
  
  font-size: 30px;
  
}
button{
 
 margin-top: 40px;
width: 18rem;
 padding: 10px;
 border: none;
 background-color: rgb(7, 160, 84);
 color: aliceblue;
 cursor: pointer;
 transition: background-color 0.4s ease;
 font-size: 20px;
 box-shadow: 0 2px 8px rgba(0, 0, 0, .8);
}
button:hover{
  background-color: rgb(89, 233, 123);
}

