*{
  margin: 0;
  padding: 0;
}
body{
font-family: 'Times New Roman', Times, serif;
background-color: antiquewhite;
padding: 20px;



}
.container{
  background-color: aliceblue;
  max-width: 600px;
  box-shadow: 0,0,10px blue;
  padding:  20px;
  margin:  0 auto;
  border-radius:  15px;
}
h1{
  text-align: center;
  padding: 15px;
  margin-bottom: 20px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
input{
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}
label{
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;

}
#btn{
  margin-bottom: 10px;
  background-color: rgb(45, 219, 167);
  color:  rgb(153, 0, 255);
  border-radius: 10%;
  padding: 10px 20px;

  cursor: pointer;
  transition: background-color .5s ease;

}
#btn:hover{
  background-color: blue ;
  color: aliceblue;
}
/* #result{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
  
} */