body{
  margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: salmon;
}
h1{
  font-size: 40px;
}
.container{
 background-color: rgb(255, 255, 255,.2);
 padding: 40px;
 text-align: center;
 box-shadow: 0 0 8px rgba(0, 0, 0, 20);
 width: 100%;
 max-width: 450px;
}
.input{
  height: 53px;
  width: 300px;
  padding: 0px 40px;
  background-color: rgb(255, 255, 255,.2);
  border-color: rgb(255, 255, 255,.4);
  font-size: 18px;
  border-radius: 6px;


}
.wm{
  display: none;
}